<<<<<<< HEAD
﻿.grow img {
  height: 150px;
  width: 150px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
=======
﻿.grow img {
  height: 150px;
  width: 150px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
>>>>>>> ef77b63dd7ade6c68ea08f93e8eab3d2abde532e
}